---
import BaseLayout from "../layouts/BaseLayout.astro";
import Intro from "../components/Intro.astro";
import MainFlow from "../components/MainFlow.astro";
import FloatingShapes from "../components/FloatingShapes.astro";
---

<BaseLayout>
  <Intro />
  <FloatingShapes />
  <main>
    <MainFlow />
  </main>
</BaseLayout>

